@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply bg-zambelli-light-black text-zambelli-white;
        letter-spacing: 1px;
        font-family: 'Inter', sans-serif;
    }

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-zambelli-purple;
    }

    /* Smooth Scroll */
    html {
        scroll-behavior: smooth;
    }

    ::selection {
        @apply bg-zambelli-dark-purple;
    }
}

@layer components {

    /* Home Button Styling */
    .home-button {
        @apply relative z-0 px-6 py-3 text-white border-4 border-zambelli-purple rounded-xl font-medium text-base cursor-pointer mt-4 mr-4;
    }

    .home-button::after {
        content: "";
        z-index: -1;
        @apply absolute w-full h-full bg-zambelli-sec-black left-0 top-0 rounded-lg;
    }

    .home-button::before {
        content: "";
        background: linear-gradient(45deg,
                #8758FF, #ca58ff,
                #8758FF, #5CB8E4);
        @apply absolute top-[-2px] left-[-2px] bg-[length:600%] z-[-1] w-[calc(100%+4px)] h-[calc(100%+4px)] blur-md rounded-lg opacity-0 transition-opacity duration-300;
        animation: glowing 20s linear infinite;
    }

    .home-button:hover::before {
        @apply opacity-100;
    }

    @keyframes glowing {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    /* Project card image styling */
    .project-image {
        @apply border-l-4 border-zambelli-purple w-full transition-all duration-500;
    }

    .project-image:hover {
        @apply scale-110 border-4 border-zambelli-purple transition-all duration-300;
    }

    /* Technology icon styling */
    .tech-icon {
        @apply max-w-[40px] ml-[10px] transition-all duration-500;
    }

    .tech-icon:hover {
        @apply scale-[1.4] transition-all duration-500 ease-in;
    }
}